/* ----------------------------
/*  Name: CalculatorProject
    Author: Sammy Lundqvist
    Version: 1
/* -------------------------- */





/*
calculatorFrame
buttonBlocks

*/

#screen{
    background: #000;
    color: #fff;
    height: 60px;
    text-align: right;
    font-size: 50px;
}

#calculatorFrame{
    width:30%;
    height:500px;
    margin: 0 auto;
    
}

label{
    display: inline-block;
    width: 80%;
    background-color: black;
    color:white;
    font-size:3em;
    text-align: right;
}

.buttonSection{
    display: inline-block;
    height:18%;
    width:100%;
    font-size: 0;
}

.buttonOp,
.button{
    display: inline-block;
    width: 20%;
    height:100%;
    margin-left:0px;
}

.buttonOp{
    background-color: lightblue;
}
